
*.v2
*.v2
*.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.futdcache.v1
*.dll
*.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/DesignTimeBuild/.dtbcache.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.futdcache.v1
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/DesignTimeBuild/.dtbcache.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.futdcache.v1
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.csproj.CoreCompileInputs.cache
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/ref/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/refint/Homeworks_OOP.dll
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/ref/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/refint/Homeworks_OOP.dll
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
*.v2
*.v1
*.dll
*.pdb
*.cache
*.dll
*.pdb
*.dll
*.dll
