
*.v2
*.v2
*.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.futdcache.v1
*.dll
*.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/DesignTimeBuild/.dtbcache.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.futdcache.v1
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/DesignTimeBuild/.dtbcache.v2
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.futdcache.v1
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.csproj.CoreCompileInputs.cache
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/ref/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/refint/Homeworks_OOP.dll
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/bin/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/Homeworks_OOP.pdb
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/ref/Homeworks_OOP.dll
Homework02/Homeworks_OOP/Homeworks_OOP/obj/Debug/net6.0/refint/Homeworks_OOP.dll
Homework02/Homeworks_OOP/.vs/Homeworks_OOP/v17/.suo
*.sln
*.csproj
*.sln
*.json
*.props
*.targets
Homework02/Kursovik/C_sharp_Kursovik_OOP/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
Homework02/Kursovik/C_sharp_Kursovik_OOP/obj/Debug/net6.0/C_sharp_Kursovik_OOP.AssemblyInfo.cs
*.cache
*.editorconfig
Homework02/Kursovik/C_sharp_Kursovik_OOP/obj/Debug/net6.0/C_sharp_Kursovik_OOP.GlobalUsings.g.cs
Homework02/Homeworks_OOP/Homeworks_OOP.sln
*.pdb
Homework02/Kursovik/C_sharp_Kursovik_OOP/bin/Debug/net6.0/C_sharp_Kursovik_OOP.exe
*.BuildWithSkipAnalyzers
*.txt
*.exe
*.sln
